# This is the URL to this application's backend server
VITE_SERVER_URL=http://localhost:9000

# Add your Flexpa publishable key here
# You will be given two sets of publishable and secret keys, one for test mode and one for production. Be sure to enter the correct keys for your use case.
# If test keys are used, a badge will appear on the Flexpa Link dialog indicating that the application is in test mode.
VITE_FLEXPA_PUBLISHABLE_KEY=
