html {
  background-color: #f9fafb;
  line-height: 1.5;
  tab-size: 4;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.launch-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: rgb(0 88 93);
  font-size: 1.125rem;
  color: rgb(255 255 255);
  padding: 1.25em 0 1.25em 0;
  width: 100%;
  position: relative;
  margin: 0.5em;
}

.section-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.page-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5em;
}

.link-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app-context {
  display: grid;
  grid-template-columns: 1fr 5fr;
  max-width: 50%;
  word-break: break-all;
  padding: 2em 4em;
  margin: 1em auto 1em auto;
  align-items: center;
  justify-content: center;
  text-align: left;
  border: 0 solid #e5e7eb;
  border-radius: 0.5rem;
  background-color: rgb(255 255 255);
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.code {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  font-size: 1em;
  color: rgb(75 85 99);
}

.table-heading {
  font-weight: 600;
}

.icon-container {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.lock-icon {
  cursor: pointer;
  fill: none;
  stroke-width: 2;
  stroke: currentcolor;
  height: 1.25em;
  width: 1.25em;
  color: rgb(193 253 138);
}

.loading {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  margin-right: 2em;
  margin-top: 8em;
  height: 4em;
  width: 4em;
  animation: spin 1s linear infinite;
  fill: rgb(0 88 93);
  color: rgb(164, 167, 174);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.section-container h1 {
  width: 100%;
}

#coverage-container {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}

dl {
  width: 700px;
  display: grid;
  grid-template-columns: 100px 600px;
  grid-gap: 8px;
  margin: auto;
  justify-items: baseline;
  padding: 16px;
  border-radius: 4px;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 10%),
    0 4px 6px -4px rgb(0 0 0 / 10%);
  background-color: white;
  margin-bottom: 24px;
  text-transform: capitalize;
}

dt {
  font-weight: 600;
}
