# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build

# debug
npm-debug.log*

# local env files
.env*

# typescript
*.tsbuildinfo

# dist
/dist
